<a href="https://colab.research.google.com/github/DanielFlorezRamos/Intrusion-/blob/main/Untitled30.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import numpy as np

edades = [18, 17, 17, 18, 24, 16, 18, 17, 23, 19, 17, 19, 16, 15]
edades_array = np.array(edades)
#print(edades)
#print(edades_array)
#print(edades_array.dtype)
#print(edades_array.shape)

#birth_year = []
#for edad in edades:
#  birth_year.append(2024 - edad)
#print(birth_year)


#birth_year_

int64
(14,)
[2006, 2007, 2007, 2006, 2000, 2008, 2006, 2007, 2001, 2005, 2007, 2005, 2008, 2009]

In [19]:
n = np.array(([1, 2, 3],
              [4, 5, 6],
              [7, 8, 9],
              [0, 0, 0]))
#print(n)
#print(n.shape)

#print(n[0])
#print(n[0][0])
#print(n[1:3])
#print(n[:3])
#print(n[2:1])

#print(n[2, 1])
#la segunda colucna
#print(n[:, 1])
#la segunda fila
#print(n[1, :])

8
[2 5 8 0]
[4 5 6]

In [24]:
edades = [18, 17, 17, 18, 24, 16, 18, 17, 23, 19, 17, 19, 16, 15]
edades_array = np.array(edades)

#mayor_de_edades = edades_array >= 18
edades_pares = edades_array[edades_array % 2 == 0]
edades_5 = edades_array
print(edades_pares)

[18 18 24 16 18 16]

In [ ]:
[[2,    0.75,   2    1,   0.5]
 [1,    0.125,  1,   1,   0.125]
 [2.75, 1.5,    1,   0,   1]
 [4,    0.5,    2,   2,   0.5]]

In [29]:
n_10 = np.arange(10)
print(n)
n_5_20_3 = np.arange(5, 20, 3)
print(n_5_20_3)

t = np.linspace(0, 2*np.pi, num=20)
print(t)

[[1 2 3]
 [4 5 6]
 [7 8 9]
 [0 0 0]]
[ 5  8 11 14 17]
[0.         0.33069396 0.66138793 0.99208189 1.32277585 1.65346982
 1.98416378 2.31485774 2.64555171 2.97624567 3.30693964 3.6376336
 3.96832756 4.29902153 4.62971549 4.96040945 5.29110342 5.62179738
 5.95249134 6.28318531]

In [32]:
n = np.arange(0, 101)
print(n)
print(n.sum())

[  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100]
5050

In [33]:
from sklearn.metrics import mean_squared_error

y_true = [1, 3, 5, 7, 9]
y_pred = [2, 4, 5, 8, 10]

mse = mean_squared_error(y_true, y_pred)
print("Mean Squared Error:", mse)

Mean Squared Error: 0.8